.footer {
    text-align: center;
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Fira Sans;
        font-weight: 800;
        font-size: 40px;
        line-height: 90%;
        font-style: normal;
        display: inline-block;
    span{
        background-color: $green;
        padding: 14px 18px;
        margin-left: 19px;
        position: relative;
        &::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 1px;
                background-color: #fff;
                top: 50%;
                left: -10px;
            }

    }
}

.footer {

    &__reserved {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 117%;
        text-align: center;
        letter-spacing: 1.05px;
        opacity: 0.5;
        padding-top: 25px;
        padding-bottom: 35px;
    }
}
}
