.header {

    &__slider {

    }

    &__slider-item {
        position: relative;
        height: 100vh;
        background-image: url(../images/bg/Background-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.slider-item {

    &__info {
        position: absolute;
        right: 80px;
        bottom: 116px;
        text-align: right;
        color: #fff;
        text-transform: uppercase;
    }

    &__info-suptitle {
    }

    &__info-title {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 107%;
        margin-top: 5px;
        margin-bottom: 50px;
    }

    &__info-suptext {
    }

    &__info-text {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 150%;
        margin-top: 8px;
        margin-bottom: 15px;
    }

    &__info-link {
    }
}
.slider-arrows{
    position: absolute;
    content: "";
    top: 40px;
    right: 80px;
    cursor: pointer;

    &__left{
        right: 125px;
    }
    &__right{

    }
}

