.header {
    position: relative;
    &__aside{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        border-right: 1px solid rgba(255, 255, 255, .25);
        height: 100vh;
        text-align: center;
        color:#fff;
    }
    &__title{
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        /* or 78% */

        text-transform: uppercase;

        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.07;
        max-width: 467px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }

    &__slider-item {
        position: relative;
        height: 100vh;
        // height: 1024px;
        background-image: url(../images/bg/Background-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__date{
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 50%;
        span{
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 119%;
            letter-spacing: 1.4px;
            margin-bottom: 20px;
            padding-top: 15px;
            display: block;
        }
    }
    &__location{
        display: inline-block;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 1.05px;
        position: relative;
        padding-left: 19px;

        margin-bottom: 15px;
            &::before{
                content: "";
                position: absolute;
                width: 11px;
                height: 13px;
                background-image: url(../images/svg/poi.svg);
                left: 0;
                top: 0;
            }
    }
    &__search{
        margin-bottom: 20px;
    }
    &__map{
        position: absolute;
        right: 0;
        top: -20px;
        z-index: 3;
    }
    &__arrows{
        position: absolute;
        left: 180px;
        bottom: 25px;
        z-index: 2;
}
.animate__map-line{
    stroke-dashoffset: 600 ;
    stroke-dasharray: 600;
    animation: animdash 3s infinite 6s;
}
@keyframes animdash {
    to{
        stroke-dashoffset:0;
    }
}

.slider-item {

    &__info {
        position: absolute;
        right: 80px;
        bottom: 116px;
        text-align: right;
        color: #fff;
        text-transform: uppercase;
    }
    &__info-title {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 107%;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    &__info-text {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 150%;
        margin-top: 8px;
        margin-bottom: 10px;
    }
}


.slider-arrows{
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 5;

    &__left{
        right: 125px;
    }
    &__right{

    }
}

.slider-dots {
    position: absolute;
    right: 80px;
    bottom: 40px;
    max-width: 920px;
    width: 100%;
    color: #fff;
    .slick-current{
        .dots-box{
            border-top:4px solid $green;
        }
    }
}
.dots-box {
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;

    &__name {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 119%;
        margin-top: 11px;
        text-align: right;
    }
    &__number{
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 142%;
        margin-top: 6px;
        text-transform: uppercase;
    }
}

.nav {

    &__menu-list {
        margin-top: 20px;
        a{
            color: #fff;
            text-decoration: none;
            span{
                display: block;
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 117%;
                letter-spacing: 3px;
                padding-top: 6px;
                padding-bottom: 20px;
            }
        }
    }
}
}