.surf{
    padding: 160px 0 120px;
    background-image: url(../images/svg/big-poi.svg);
    background-repeat: no-repeat;
    background-position: right 145px;
    background-size: auto;
    &__subtitle{
        text-align: right;
        padding-right: 75px;
        margin-top: -86px;
    }
}

.surf-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        position: relative;
        min-height: 750px;
        background: rgba(#1C2121, .85);
        transition: all 0.5s;
        &:hover{
            background: rgba(#1C2121, .3);
            .surf-box__inner-btn{
                display: block;
            }
        }
    }

    &__inner-title {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 90%;
        padding: 72px 0 0 40px;
        width: 140px;
        margin: 0;
    }

    &__inner-location {
        margin: 0;
        position: absolute;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 122%;
        letter-spacing: 8px;
        transform: rotate(-90deg);
        width: 0;
        height: 0;
        left: 38px;
        bottom: 80px;
        white-space: nowrap;
            span{
                opacity: .5;
                font-weight: 100;
            }
    }
    &__inner-btn{
        position: absolute;
        bottom: 0;
        text-align: center;
        right: 0;
        left: 0;
        margin-bottom: 25px;
        display: none;
    }
}


.btn {
    font-family: Fira Sans;
    font-weight: 800;
    font-size: 40px;
    line-height: 90%;
    font-style: normal;
    display: inline-block;
    span{
       background-color: $green;
       padding: 17px 57px 17px 17px;
       margin-left: 19px;
       position: relative;
       &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            left: -10px;

       }
       &::after{
           content: "";
           position: absolute;
           width: 25px;
           height: 21px;
           background-image: url(../images/svg/arrow-right.svg);
           top: 50%;
           right: 17px;
           transform: translateY(-10px);
       }
    }
}

.surf-slider{
    padding-top: 110px;
    .slick-slide:nth-child(4n + 1){
        .surf-box{
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3){
        .surf-box{
            margin-top: 89px;
        }
    }
    .slick-current{
        .surf-box__inner-btn{
            display: block;
        }
        .surf-box__inner{
            background: rgba(#1C2121, .3);
            transition: all 0.5s;
        }
    }
    .slider-arrows{
        position: absolute;
        opacity: 0.25;
        top: 50px;
        right: 80px;
        cursor: pointer;
        z-index: 5;
    
        &__left{
            right: 125px;
        }
        &__right{
    
        }
    }
}
