.surf{
    background-image: url(../images/svg/big-poi.svg);
    background-repeat: no-repeat;
    background-position: right 145px;
    background-size: auto;
    &__subtitle{
        text-align: right;
        padding-right: 75px;
        margin-top: -86px;
    }
}

.surf-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        position: relative;
        min-height: 750px;
        background: rgba(#1C2121, .85);
        transition: all 0.5s;
        &:hover{
            background: rgba(#1C2121, .3);
            .surf-box__inner-btn{
                display: block;
            }
        }
    }

    &__inner-title {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 90%;
        padding: 72px 0 0 40px;
        width: 140px;
        margin: 0;
    }

    &__inner-location {
        margin: 0;
        position: absolute;
        font-family: Fira Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 122%;
        letter-spacing: 8px;
        transform: rotate(-90deg);
        width: 0;
        height: 0;
        left: 38px;
        bottom: 80px;
        white-space: nowrap;
            span{
                opacity: .5;
                font-weight: 100;
            }
    }
    &__inner-btn{
        position: absolute;
        bottom: 0;
        text-align: center;
        right: 0;
        left: 0;
        margin-bottom: 25px;
        display: none;
    }
}


.btn {
    font-family: Fira Sans;
    font-weight: 800;
    font-size: 40px;
    line-height: 90%;
    font-style: normal;
    display: inline-block;
    span{
       background-color: $green;
       padding: 17px 57px 17px 17px;
       margin-left: 19px;
       position: relative;
       &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            left: -10px;

       }
       &::after{
           content: "";
           position: absolute;
           width: 25px;
           height: 21px;
           background-image: url(../images/svg/arrow-right.svg);
           top: 50%;
           right: 17px;
           transform: translateY(-10px);
       }
    }
}

.surf-slider{
    padding-top: 110px;
    .slick-slide:nth-child(4n + 1){
        .surf-box{
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3){
        .surf-box{
            margin-top: 89px;
        }
    }
    .slick-current{
        .surf-box__inner-btn{
            display: block;
        }
        .surf-box__inner{
            background: rgba(#1C2121, .3);
            transition: all 0.5s;
        }
    }
    .slider-arrows{
        position: absolute;
        opacity: 0.25;
        top: 50px;
        right: 80px;
        cursor: pointer;
        z-index: 5;
    
        &__left{
            right: 125px;
        }
        &__right{
    
        }
    }
}
// slider-map


.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../images/svg/world-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 60px;
    .slick-list{
        min-height: 635px;
    }
    .slick-current{
        .slider-dots-head__content{
            display: inline-block;
            width: 245px;
            height: 216px;
            padding: 28px 40px ;
            background: rgba(#0F1010, .7);
            border-radius: 25px;
            position: absolute;
            bottom: 35px;
            
                &::before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-bottom: 20px solid $green;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    bottom: -20px;
                    left: 50%;
                    box-shadow: 0px 0px 0px rgba(74, 246, 205, 0.837777);
                }
        }
    }
}
.slider-dots-head {

		&__content {
            display: none;
		}

		&__content-title {
            font-family: Fira Sans;
            font-weight: 800;
            font-size: 18px;
            line-height: 144%;
            font-style: normal;
            padding-bottom: 8px;
            margin-bottom: 8px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 80px;
                height: 1px;
                background-color: $green;
                left: 0;
                bottom: 0;
            }
		}

		&__content-link {
            width: 16px;
            height: 13px;
            text-align: center;
            padding-top: 4px;
		}

		&__content-row {
            display: flex;
            justify-content: space-between;
		}

		&__content-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 30px;
                img{
                    margin-bottom: 7px;
                }
		}

		&__content-number {
            font-family: Fira Sans;
            font-weight: 800;
            font-size: 16px;
            line-height: 144%;
            text-align: center;
            font-style: normal;
		}

		&__content-text {
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 120%;
            text-align: center;
		}
}
.slider-dots-heads__content-rows{
    display: flex;
    justify-content: space-between;
}
.slider-dots__circle {
            width: 24px;
            height: 24px;
            background-color: $green;
            box-shadow: 0px 0px 10px rgba(74, 246, 205, 0.837777);
            border-radius: 50%;
}
.slider-dots-heads {
    position: relative;
		&__content-row {
		}

		&__content-head {
		}

		&__content-sub-title {
            font-family: Fira Sans;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            font-style: normal;
            text-transform: capitalize;
		}
}
.slider-dots--1{
    position: absolute;
    top: 335px;
    left: 10px;
    .slider-dots-head__content{
        transform: translateX(-20px);
        transform: translateY(120%);
        &::before{
            content: "";
            position: absolute;
            top: -44px;
            transform: translateX(-510%);
        }
    }
}
.slider-dots--2{
    position: absolute;
    top: 280px;
    left: 11%;
    .slider-dots__circle{
        &::before{
            content: "";
            position: absolute;
            background-image: url(../images/svg/poi-world-map.png);
            width: 14px;
            height: 17px;
            background-size: cover;
            top: -15px;
            left: 27px;
            }
        }
        .slider-dots-head__content{
            transform: translateX(-50%);
        }
}
.slider-dots--3{
    position: absolute;
    top: 315px;
    left: 28%;
        .slider-dots-head__content{
            transform: translateX(-50%);
        }
}
.slider-dots--4{
    position: absolute;
    top: 500px;
    left: 34%;
     .slider-dots-head__content{
            transform: translateX(-50%);
        }
}
.slider-dots--5{
    position: absolute;
    top: 217px;
    left: 44%;
     .slider-dots-head__content{
            transform: translateX(-50%);
        }
}
.slider-dots--6{
    position: absolute;
    top: 555px;
    left: 53%;
     .slider-dots-head__content{
            transform: translateX(-50%);
        }
}
.slider-dots--7{
    position: absolute;
    top: 395px;
    left: 67%;
     .slider-dots-head__content{
            transform: translateX(-50%);
        }
}
.slider-dots--8{
    position: absolute;
    top: 300px;
    left: 83%;
     .slider-dots-head__content{
            transform: translateX(-50%);
        }
}
.slider-dots--9{
    position: absolute;
    top: 500px;
    left: 90%;
     .slider-dots-head__content{
            transform: translateX(-50%);
        }
}